.container{
  width: 1150px;
  margin: 0 auto;
}

.header{
  position: sticky;
  top: 0;
  background-color:#007bff;
  margin-top: -10px;
  padding: 10px;
  width: auto;
  height: auto;
}

.navbar{
  display: flex;
  justify-content: space-between;
}
.navbar .logo img{
  width: 150px; 
  height: auto;
}

.navbar ul li{
  margin-top: 10px;
  display: inline-block;
  margin-right:30px;
  font-size: 18px;
}

.navbar ul li:last-child{
  margin-right: 10px;
}

.navbar ul li:last-child a:hover{
  text-decoration: none;
  color: #ffffff;
}
  

.navbar ul li a{
  font-weight: lighter;
  color: #ffffff;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}

.navbar ul li a:hover{
  color:#000000;
  text-decoration: underline;
}

.navbar ul li a:active{
  color: blue !important;
}

.contactBtn{
  color: #ffffff;
  border: 1px solid rgb(236, 28, 36);
  background-color: rgb(236, 28, 36);
  padding:15px;
  
}

.heroSection{
  width: auto;
  height: auto;
  margin-bottom: 0px;
}

.heroSection img{
  width: 100%;
  

}

.sectionContent{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #007bff;
  width: 100%;
  height: auto;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 10px;
}

.sectionContent h1{
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
  color: #ffffff;
}

.sectionContent img{
  width: 100px;
  margin-top: -20px;
}

.sectionContent p{
  font-family:'Times New Roman', Times, serif;
  font-size: 14px;
  color: #ffffff;
}

.about{
  margin-top: 100px;
}

.aboutPageContent{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}
.aboutPageContent h1{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
}

.aboutPageContent p{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.5rem;
}

.learnMoreBtn button{
  font-size: 18px;
  width: 150px;
  margin-bottom: 10px;
}

.specialistContent{
  margin-top: 50px;
}


.specialistContent p{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  font-size: 18px;
}

.sectionImage{
  width: 100px;
  margin:0 auto;
  text-align: center;
}

.specialist{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.specialist img{
  width: 350px;
  height:auto

}

.galleryContent{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}

.galleryContent h1{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
}

.galleryContent p{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5rem;
}

.galleryImages{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.galleryImage1,
.galleryImage2,
.galleryImage3{
  width: 400px;
  height: auto;
 
}

.galleryImages .galleryImage1 img{
  width: 375px;
  height: auto;
  object-fit: cover;
}

.galleryImages .galleryImage2 img{
  width: 375px;
  height: 425px;
  object-fit: cover;
}

.galleryImages .galleryImage3 img{
  width: 375px;
  height: auto;
  object-fit: cover;
}

.contactPage{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.contactPageContent{
  margin-bottom: 10px;
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 40px;
}

.contactPageContent h1{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  font-size: 30px;
}

.contactPageContent p{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.5rem;
}

.contactDetailsContent{
  display: flex;
  
}

.contactDetailsContent .icon{
  margin-top: 35px;
  margin-right: 20px;
}
/* .contactDetails{
  margin-bottom: 20px;
} */

.contactDetails h2{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  font-size: 24px;
}
.contactDetails p{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
  font-size: 22px;
  line-height: 0rem;
}

.formSection{
  width: 100%;
  height: auto;
}

.formSection input{
  width: 400px;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  
}

.formSection textarea{
  width: 400px;
  height: 150px;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  resize: none;
}

.submitBtn button{
  width: 150px;
  font-size: 18px;

}

.footer{
  width: 100%;
}

.subFooter{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  height: auto;
  background-color:#007bff;
}

.subFooter p{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}